div.filter-header {
    font-size: 23px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    color: #000000;
    font-weight: 500;
}
.container.view-assignment i {
    display: inline-block;
    line-height: 1;
    margin-right: -8px;
}
.container.view-assignment > div h5 {
    text-align: left;
    font-size: 16px;
    padding-left: 6px;
    background-color: rgb(235, 235, 235);
    line-height: 28px;
    text-transform: none;
}
.container.view-assignment input:read-only {
    color: black;
}
.btn.btn-link:hover {
    text-decoration: underline !important;
}
.btn.btn-link {
    text-transform: none;
}
.mat-raised-button {
    min-width: 150px;
}
.datepickerOne {
    margin-top: 105px !important;
}
.back .icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    font-size: 15px;
    background: #3b96b6;
    color: #edf5ff;
    margin-left: 8px;
    -webkit-transition: none;
    transition: none;
}
.back:hover .icon {
    background: #ffffff;
    color: #3b96b6;
    cursor: pointer;
}
@media (max-width: 600px) {
    .btn.btn-primary, .btn.btn-link {
        width: 100%;
    }
}
@media (max-width: 768px) {
    input, select, label {
        font-size: 12px !important;
    }
    .datepickerOne {
        margin-top: 0px !important;
    }
}
