<section class="services-area ptb-100 bg-gray">
    <div class="container">
        <div class="row mt-2 pt-2">
            <!-- <div class="col-lg-12 col-md-12 overview-content">
                <app-alert></app-alert>
                <h3>Weekly Pay Periods</h3>
                <p>Click each pay period to view pay roll, invoices, control report, leaderboard report, commission report, timesheets and P&L report.</p>
                <ul class="features-list">
                    <a href="#" routerLink="/weekly-pay-period-dashboard">
                        <div *ngFor="let pp of payPeriods">
                            <li>
                                {{pp.weekEnding1 | date: 'MM/dd/yyyy'}}                                
                            </li>
                        </div>
                    </a>
                </ul>
            </div> -->
            <div class="col-lg-12 col-md-12">
                <app-alert></app-alert>
                <h3>Weekly Pay Periods</h3>
                <p>Click each pay period to view pay roll, invoices, control report, leaderboard report, commission report, timesheets and P&L report.</p>
                <div *ngIf="payPeriods?.length>0">
                    <ul>  
                        <li *ngFor="let period of payPeriods | slice:0:limit; let i=index">
                            <a href="#" class="card"><i class="icofont-ui-calendar"></i> {{ period.weekEnding1 | date: 'MM/dd/yyyy' }}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <a class="btn btn-link more" *ngIf="limit < payPeriods.length" (click)="showMore()"><mat-icon>expand_more</mat-icon> Show More</a>
                <a class="btn btn-link less" *ngIf="limit > 10" (click)="showLess()"><mat-icon>expand_less</mat-icon> Show Less</a>
            </div>
        </div>
    </div>
</section>
