<section class="services-area ptb-100 bg-gray">
    <div class="container">
        <div class="row mt-1 pt-1">
            <div class="col-md-12 col-lg-12 mt-3 pt-3">
                <app-alert></app-alert>
                <div fxLayout fxLayoutAlign="center center" class="filter-header">
                    View Contractors
                </div>
                <form [formGroup]="contractorListForm" autocomplete="off" novalidate (ngSubmit)="showContractorList(contractorListForm.value)">
                    <div class="row">                        
                        <div class="col-md-3 col-lg-3">
                            <mat-form-field appearance="fill">
                                <mat-label>Select A Status</mat-label>
                                <mat-select formControlName="contractorStatus" [compareWith]="compareStatuses">
                                    <mat-option *ngFor="let status of statuses" [value]="status">{{status}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-9 col-lg-9">
                            <mat-card-actions>
                                <button mat-raised-button color="primary"><i class="icofont-search-job"></i> View Contractors</button>
                            </mat-card-actions>
                        </div>
                    </div>
                </form>
                <mat-divider></mat-divider>
                <div fxLayout fxLayoutAlign="start" class="mt-2 pt-2">
                    <mat-form-field fxFlex="40%">
                      <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Search">
                    </mat-form-field>
                </div>
                <div class="row action-buttons">
                    <a routerLink="/add-contractor" class="btn btn-sm btn-success"><i class="icofont-plus"></i> Add Contractor</a>
                    <a routerLink="/notification" class="btn btn-sm btn-info"><i class="icofont-bullhorn"></i> Send Notification</a>
                </div>
                <div *ngIf="dataSource.data.length > 0; then hasContractorBlock else noContractorBlock"></div>
                    <ng-template #noContractorBlock><div class="alert alert-danger text-center">No Draft Found</div></ng-template>
                    <ng-template #hasContractorBlock>
                        <div class="contractor-list-container mat-elevation-z8">
                            <table mat-table [dataSource]="dataSource" matSort #ctrTable>
                                <ng-container matColumnDef="firstName" sticky>
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                                    <td mat-cell *matCellDef="let contractor">{{contractor.firstName+' '+contractor.lastName}}</td>
                                </ng-container>
            
                                <ng-container matColumnDef="created">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Created</th>
                                    <td mat-cell *matCellDef="let contractor">{{contractor.created | date: 'MM/dd/yyyy'}}</td>
                                </ng-container>
            
                                <ng-container matColumnDef="modified">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Modified</th>
                                    <td mat-cell *matCellDef="let contractor">{{contractor.modified | date: 'MM/dd/yyyy'}}</td>
                                </ng-container>
                                
                                <ng-container matColumnDef="user">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>By User</th>
                                    <td mat-cell *matCellDef="let contractor">{{contractor.user}}</td>
                                </ng-container>

                                <ng-container matColumnDef="star" stickyEnd>
                                    <th mat-header-cell *matHeaderCellDef>Action</th>
                                    <td mat-cell *matCellDef="let contractor">
                                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="action menu">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                        <mat-menu #menu="matMenu">
                                            <button mat-menu-item (click)="navigateToEditContractor(contractor.contractorId);">
                                                <mat-icon>edit</mat-icon>
                                                <span>Edit</span>
                                            </button>
                                            <button mat-menu-item (click)="uploadAttachments(contractor.contractorId);">
                                                <mat-icon>cloud_upload</mat-icon>
                                                <span>Upload Files</span>
                                            </button>
                                            <button mat-menu-item (click)="viewAttachments(contractor.contractorId);">
                                                <mat-icon>attach_file</mat-icon>
                                                <span>View Attachments</span>
                                            </button>
                                            <button mat-menu-item (click)="openWarningDialog(warningDialog, contractor.contractorId);">
                                                <mat-icon color="warn">delete</mat-icon>
                                                <span class="text-danger">Delete Contractor</span>
                                            </button>
                                        </mat-menu>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                        </div>                      
                    </ng-template>
                    <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons> 
                    </mat-paginator>
                    <ng-template #warningDialog let-modal>
                        <div class="modal-header justify-content-center bg-warning">
                            <h4 class="modal-title">Confirm</h4>
                        </div>
                        <div class="modal-body text-center">
                            <h5>Are you sure you want to delete the contractor {{selectedContractor.firstName + ' '
                                + selectedContractor.lastName}}?</h5>
                        </div>
                        <div class="modal-footer">
                            <button mat-button mat-dialog-close class="btn">No</button>
                            <button mat-button mat-dialog-close class="btn btn-primary"
                            (click)="deleteContractor()">Yes</button>
                        </div>
                    </ng-template>
            </div>
        </div>
    </div>
</section>
