<section class="services-area ptb-100 bg-gray">
    <div class="container">
        <div class="employeelist row mt-1 pt-1">
            <div class="col-md-12 col-lg-12 mt-2 pt-2">
                <app-alert></app-alert>
                <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="2%">
                    <div fxLayout fxLayoutAlign="center center" class="filter-header">
                        View Employees
                    </div>
                </div>
                <form [formGroup]="employeeListForm" autocomplete="off" novalidate (ngSubmit)="showEmployeeList(employeeListForm.value)">
                    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="8px" class="mt-2 pt-2">
                        <mat-form-field appearance="fill" fxFlex="20%">
                            <mat-label>Select A Status</mat-label>
                            <mat-select formControlName="employeeStatus" [compareWith]="compareStatuses">
                                <mat-option *ngFor="let status of statuses" [value]="status">{{status}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill" fxFlex="20%">
                            <mat-label>Select A Type</mat-label>
                            <mat-select formControlName="employeeCategory" [compareWith]="compareCategory">
                                <mat-option *ngFor="let category of categories" [value]="category">{{category}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill" fxFlex="20%">
                            <mat-label>Select Referer Status</mat-label>
                            <mat-select formControlName="isReferer">
                                <mat-option value="">Referer or Not</mat-option>
                                <mat-option value="Y">Is a Referer</mat-option>
                                <mat-option value="N">Not a Referer</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-card-actions fxFlex="20%">
                            <button mat-raised-button color="primary"><i class="icofont-search-job"></i> View Employees</button>
                        </mat-card-actions>
                        <mat-form-field fxFlex="20%">
                            <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Search">
                        </mat-form-field>
                    </div>
                </form>
                <mat-divider></mat-divider>
                <div class="row action-buttons">
                    <a routerLink="/add-employee" class="btn btn-sm btn-success"><i class="icofont-plus"></i> Add Employee</a>
                </div>
                <div *ngIf="dataSource.data.length > 0; then hasEmployeeBlock else noEmployeeBlock"></div>
                    <ng-template #noEmployeeBlock><div class="alert alert-danger text-center">No Employee Found</div></ng-template>
                    <ng-template #hasEmployeeBlock>
                        <div class="employeelist-container mat-elevation-z8">
                            <table mat-table [dataSource]="dataSource" matSort #ctrTable>
                                <ng-container matColumnDef="firstName" sticky>
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                                    <td mat-cell *matCellDef="let employee">{{employee.firstName+' '+employee.lastName}}</td>
                                </ng-container>
            
                                <ng-container matColumnDef="accessLevel">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Access Level</th>
                                    <td mat-cell *matCellDef="let employee">{{employee.accessLevel}}</td>
                                </ng-container>
            
                                <ng-container matColumnDef="payType">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Pay Type</th>
                                    <td mat-cell *matCellDef="let employee">{{employee.payType}}</td>
                                </ng-container>

                                <ng-container matColumnDef="employeeStatus">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Active</th>
                                    <td mat-cell *matCellDef="let employee">{{employee.employeeStatus}}</td>
                                </ng-container>
                                
                                <ng-container matColumnDef="emailAddress">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Email Address</th>
                                    <td mat-cell *matCellDef="let employee">{{employee.emailAddress}}</td>
                                </ng-container>

                                <ng-container matColumnDef="salesRate">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Sales Rate</th>
                                    <td mat-cell *matCellDef="let employee">{{employee.salesRate | percent:'1.2-2'}}</td>
                                </ng-container>
            
                                <ng-container matColumnDef="recruitRate">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Recruit Rate</th>
                                    <td mat-cell *matCellDef="let employee">{{employee.recruitRate | percent:'1.2-2'}}</td>
                                </ng-container>
                                
                                <ng-container matColumnDef="payRate">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Pay Rate</th>
                                    <td mat-cell *matCellDef="let employee">{{employee.payRate | currency}}</td>
                                </ng-container>

                                <ng-container matColumnDef="otRate">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>OT Pay Rate</th>
                                    <td mat-cell *matCellDef="let employee">{{employee.otRate | currency}}</td>
                                </ng-container>

                                <ng-container matColumnDef="dtRate">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>DT Pay Rate</th>
                                    <td mat-cell *matCellDef="let employee">{{employee.dtRate | currency}}</td>
                                </ng-container>
            
                                <ng-container matColumnDef="payMethod">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Pay Method</th>
                                    <td mat-cell *matCellDef="let employee">{{employee.payMethod}}</td>
                                </ng-container>
                                
                                <ng-container matColumnDef="adpFileNumber">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>ADP File#</th>
                                    <td mat-cell *matCellDef="let employee">{{employee.adpFileNumber}}</td>
                                </ng-container>

                                <ng-container matColumnDef="employeeType">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
                                    <td mat-cell *matCellDef="let employee">{{employee.employeeType}}</td>
                                </ng-container>

                                <ng-container matColumnDef="star" stickyEnd>
                                    <th mat-header-cell *matHeaderCellDef>Action</th>
                                    <td mat-cell *matCellDef="let employee">
                                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="action menu">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                        <mat-menu #menu="matMenu">
                                            <button mat-menu-item (click)="navigateToEditEmployee(employee.employeeId);">
                                                <mat-icon>edit</mat-icon>
                                                <span>Edit</span>
                                            </button>
                                            <button mat-menu-item (click)="uploadAttachments(employee.employeeId);">
                                                <mat-icon>cloud_upload</mat-icon>
                                                <span>Upload Files</span>
                                            </button>
                                            <button mat-menu-item (click)="viewAttachments(employee.employeeId);">
                                                <mat-icon>attach_file</mat-icon>
                                                <span>View Attachments</span>
                                            </button>
                                            <button mat-menu-item (click)="openWarningDialog(warningDialog, employee.employeeId);">
                                                <mat-icon color="warn">delete</mat-icon>
                                                <span class="text-danger">Delete Employee</span>
                                            </button>
                                        </mat-menu>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                        </div>
                    </ng-template>
                    <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]" 
                    (page)="onPaginateChange($event)" showFirstLastButtons> 
                    </mat-paginator>
                    <ng-template #warningDialog let-modal>
                        <div class="modal-header justify-content-center bg-warning">
                            <h4 class="modal-title">Confirm</h4>
                        </div>
                        <div class="modal-body text-center">
                            <h5>Are you sure you want to delete the employee {{selectedEmployee.firstName + ' '
                                + selectedEmployee.lastName}}?</h5>
                        </div>
                        <div class="modal-footer">
                            <button mat-button mat-dialog-close class="btn">No</button>
                            <button mat-button mat-dialog-close class="btn btn-primary"
                            (click)="deleteEmployee()">Yes</button>
                        </div>
                    </ng-template>
                    <ng-template #uploadFilesDialog let-modal>
                        <form [formGroup]="employeeUploadFilesForm" autocomplete="off" novalidate (ngSubmit)="showEmployeeList(employeeListForm.value)">
                            <div class="modal-header file-upload-header justify-content-center bg-warning">
                                <h5 class="modal-title">Upload Files for {{selectedEmployee.firstName + ' ' +
                                    selectedEmployee.lastName}}</h5>
                            </div>
                            <div class="modal-body file-upload-div text-center">
                                <div class="col" style="background-color:transparent;">
                                    <file-upload class="mb-2 pb-2" formControlName="files"></file-upload>
                                    <mat-error *ngIf="hasError('files')">Select at least one file to upload</mat-error>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button mat-button mat-dialog-close class="btn">Close</button>
                                <button mat-button class="btn btn-info"
                                (click)="uploadFiles()">Upload</button>
                            </div>
                        </form>
                    </ng-template>
                    <ng-template #viewFilesDialog let-modal>
                        <button mat-icon-button class="close-button" [mat-dialog-close]="true">
                            <mat-icon class="close-icon" color="warn">close</mat-icon>
                        </button>
                        <h2 mat-dialog-title>Attachments</h2>
                        <mat-dialog-content class="mat-typography">
                            <div *ngIf="selectedEmployee.employeeAttachments?.length > 0; then hasEmployeeAttachment else noEmployeeAttachment"></div>
                            <ng-template #noEmployeeAttachment><div class="alert alert-danger text-center">No Attachment Found</div></ng-template>
                            <ng-template #hasEmployeeAttachment>
                                <mat-list dense>
                                    <mat-list-item *ngFor="let file of selectedEmployee.employeeAttachments">
                                        <mat-icon mat-list-icon>note</mat-icon>
                                        <div mat-line><a href={{file.fileNameWithPath}} target="_blank">{{file.fileName}}</a></div>
                                        <div mat-line> {{file.created | date: 'MM/dd/yyyy, h:mm a'}} </div>
                                    </mat-list-item>
                                </mat-list>
                            </ng-template>
                        </mat-dialog-content>
                        <mat-dialog-actions align="end">
                            <button mat-button mat-dialog-close>Close</button>
                        </mat-dialog-actions>
                    </ng-template>
            </div>
        </div>
    </div>
</section>
