.payperiod-dashboard .single-services {
    min-height: 60px;
}
div.filter-header {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 25px;
    font-weight: 500;
    color: #000000;
}