<div class="container">
    <app-alert></app-alert>
    <div class="col-sm-12">
        <form [formGroup]="profileForm" class="text-left">
            <div class="row">
                <div class="col col-lg-6 order-0">
                    <div class="row">
                        <div class="col">
                            <div class="featured-box featured-box-primary">
                                <div class="box-content">
                                    <div class="row text-left">
                                        <h2 class="col mb-0"><i class="fa fa-user-circle" aria-hidden="true"></i>
                                            <strong>Name</strong>
                                        </h2>
                                        <div class="col-1 p-0" *ngIf="!editName">
                                            <span (click)="editNameControls()"><i aria-hidden="true"
                                                    class='fas fa-edit fa-2x text-primary' title="Edit Name"></i></span>
                                        </div>
                                    </div>
                                    <hr class="bg-primary">
                                    <div *ngIf="!editName" class="row col">
                                        <h3><strong>{{fullName | uppercase }}</strong></h3>
                                    </div>
                                    <div #name formGroupName="name" [style.display]="'none'" class="text-left">
                                        <div class="form-group row">
                                            <label class="col-sm-3 form-label">First Name</label>
                                            <div class="col">
                                                <input type="text" maxlength="30" class="form-control"
                                                    formControlName="firstName" #firstName
                                                    [ngClass]="{'is-invalid': submitted && f.get('name.firstName').errors,'is-valid':submitted && !f.get('name.firstName').errors}">
                                                <p *ngIf="submitted && f.get('name.firstName').errors"
                                                    class="invalid-feedback">
                                                    Please enter first name.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 form-label">Middle Name</label>
                                            <div class="col">
                                                <input type="text" maxlength="30" class="form-control"
                                                    formControlName="middleName">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 form-label">Last Name</label>
                                            <div class="col">
                                                <input type="text" maxlength="30" class="form-control"
                                                    formControlName="lastName">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-right" *ngIf="editName">
                                        <button class="btn btn-outline-primary mr-2" type="reset"
                                            (click)="resetNameControls();submitted=false;">Cancel</button>
                                        <button class="btn btn-rounded btn-primary" type="submit"
                                            (click)="validateName()" *ngIf="allowNameUpdate">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="featured-box featured-box-primary">
                                <div class="box-content">
                                    <div class="row text-left">
                                        <h2 class="col mb-0"><i class="fa fa-envelope" aria-hidden="true"></i>
                                            <strong>Address</strong>
                                        </h2>
                                        <div class="col-1 p-0" *ngIf="!editAddress">
                                            <span (click)="editAddressControls()"><i aria-hidden="true"
                                                    class='fas fa-edit fa-2x text-primary'
                                                    title="Edit Address"></i></span>
                                        </div>
                                    </div>
                                    <hr class="bg-primary">
                                    <div *ngIf="!editAddress">
                                        <h6 class="content-wrap text-left">{{address}}</h6>
                                    </div>
                                    <div #divAddress formGroupName="address" [style.display]="'none'" class="text-left">
                                        <div class="form-group row">
                                            <label class="col-sm-3 form-label">Street #</label>
                                            <div class="col">
                                                <input type="text" maxlength="40" class="form-control"
                                                    formControlName="streetNumber" #streetNumber
                                                    [ngClass]="{'is-invalid': submitted && f.get('address.streetNumber').errors,'is-valid':submitted && !f.get('address.streetNumber').errors}">
                                                <p *ngIf="submitted && f.get('address.streetNumber').errors"
                                                    class="invalid-feedback">
                                                    Street Number is required.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 form-label">Street Name</label>
                                            <div class="col">
                                                <input type="text" maxlength="40" class="form-control"
                                                    formControlName="streetName"
                                                    [ngClass]="{'is-invalid': submitted && f.get('address.streetName').errors,'is-valid':submitted && !f.get('address.streetName').errors}">
                                                <p *ngIf="submitted && f.get('address.streetName').errors"
                                                    class="invalid-feedback">
                                                    Street Name is required.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 form-label">Street Type</label>
                                            <div class="col">
                                                <input type="text" maxlength="40" class="form-control"
                                                    formControlName="streetType">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 form-label">Unit</label>
                                            <div class="col">
                                                <input type="text" maxlength="30" class="form-control"
                                                    formControlName="unit">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 form-label">City</label>
                                            <div class="col">
                                                <input type="text" maxlength="50" class="form-control"
                                                    formControlName="city"
                                                    [ngClass]="{'is-invalid': submitted && f.get('address.city').errors,'is-valid':submitted && !f.get('address.city').errors}">
                                                <p *ngIf="submitted && f.get('address.city').errors"
                                                    class="invalid-feedback">
                                                    City is required.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 form-label">State</label>
                                            <div class="col">
                                                <select formControlName="state" class="form-control"
                                                    [ngClass]="{'is-invalid': submitted && f.get('address.state').errors,'is-valid':submitted && !f.get('address.state').errors}">
                                                    <ng-container *ngFor="let item of states">
                                                        <option [value]="item.id">
                                                            {{item.value}}
                                                        </option>
                                                    </ng-container>
                                                </select>
                                                <p *ngIf="submitted && f.get('address.state').errors"
                                                    class="invalid-feedback">
                                                    State is required.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 form-label">Zip</label>
                                            <div class="col">
                                                <input type="text" maxlength="10" class="form-control"
                                                    formControlName="zip" (input)="formatZipCode($event)"
                                                    [ngClass]="{'is-invalid': submitted && f.get('address.zip').errors,'is-valid':submitted && !f.get('address.zip').errors}">
                                                <p *ngIf="submitted && f.get('address.zip').errors"
                                                    class="invalid-feedback">
                                                    <span *ngIf="f.get('address.zip').errors.required">
                                                        Zip code is required.
                                                    </span>
                                                    <span *ngIf="f.get('address.zip').errors.pattern">
                                                        Zip code must be a 5 or 9 digit number(Ex: 98745-4321).
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-right" *ngIf="editAddress">
                                        <button class="btn btn-outline-primary mr-2" type="reset"
                                            (click)="resetAddressControls();submitted=false;">Cancel</button>
                                        <button class="btn btn-rounded btn-primary"
                                            (click)="openConfirmationBox(confirmAddress);" *ngIf="allowAddressUpdate">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6 col-md-12 order-12 float-right">
                    <div class="row">
                        <div class="col">
                            <div class="featured-box featured-box-primary">
                                <div class="box-content">
                                    <div class="row text-left">
                                        <h2 class="col mb-0"><i class="fas fa-phone" aria-hidden="true"></i>
                                            <strong>Phones</strong>
                                        </h2>
                                        <div class="col-1 p-0" *ngIf="!editPhone">
                                            <span (click)="editPhoneControls()"><i aria-hidden="true"
                                                    class='fas fa-edit fa-2x text-primary'
                                                    title="Edit Phone"></i></span>
                                        </div>
                                    </div>
                                    <hr class="bg-primary">
                                    <div *ngIf="!editPhone">
                                        <h6 class="content-wrap text-left">{{phoneNumbers}}</h6>
                                    </div>
                                    <div #phones formGroupName="phones" [style.display]="'none'" class="text-left">
                                        <div class="form-group row">
                                            <div class="col-5">
                                                <input type="hidden" formControlName="ecomDetailIdOne">
                                                <select name="phoneTypeOne" id="phoneTypeOne" class="form-control"
                                                    formControlName="phoneTypeOne" #phoneTypeOne
                                                    [ngClass]="{'is-invalid': submitted && f.get('phones.phoneTypeOne').errors,'is-valid':submitted && !f.get('phones.phoneTypeOne').errors}">
                                                    <option value="" selected></option>
                                                    <ng-container *ngFor="let item of phoneTypes">
                                                        <option [value]="item.eCommunicationId">
                                                            {{item.description}}
                                                        </option>
                                                    </ng-container>
                                                </select>
                                                <p *ngIf="submitted && f.get('phones.phoneTypeOne').errors"
                                                    class="invalid-feedback">
                                                    Phone type is required.
                                                </p>
                                            </div>
                                            <div class="col-6 pl-0">
                                                <input type="text" maxlength="14" class="form-control col"
                                                    formControlName="phoneNumberOne" id="phoneNumberOne" UsPhoneFormat
                                                    [ngClass]="{'is-invalid': submitted && f.get('phones.phoneNumberOne').errors,'is-valid':submitted && !f.get('phones.phoneNumberOne').errors}">
                                                <p *ngIf="submitted && f.get('phones.phoneNumberOne').errors"
                                                    class="invalid-feedback">
                                                    <span *ngIf="f.get('phones.phoneNumberOne').errors.required">
                                                        Phone Number is required.
                                                    </span>
                                                    <span *ngIf="f.get('phones.phoneNumberOne').errors.pattern">
                                                        Invalid phone format.(Ex: (987) 456-1230)
                                                    </span>
                                                </p>
                                            </div>
                                            <!-- <div class="col-sm-4 row">
                                                <label class="col-sm-4 form-label">Ext:</label>
                                                <input type="text" class="col-sm-6 form-control"
                                                    formControlName="extensionOne" maxlength="6">
                                            </div> -->
                                            <div class="col-1 p-0">
                                                <input type="checkbox" class="align-middle" id="deletePhoneOne"
                                                    formControlName="deletePhoneOne" [style.display]="'none'">
                                                <span (click)="deletePhone('One');" id="deleteIconOne"><i
                                                        aria-hidden="true" class="fas fa-times text-danger fa-2x"
                                                        title="Delete"></i></span>
                                                <span (click)="undoDeletePhone('One');" id="undoDeleteIconOne"
                                                    [style.display]="'none'"><i aria-hidden="true"
                                                        class="fas fa-undo text-secondary fa-2x"
                                                        title="Undo Delete"></i></span>
                                                <!-- <label class="checkbox-inline">
                                                    <input type="checkbox" class="align-middle" id="deletePhoneOne"
                                                        formControlName="deletePhoneOne" [style.display]="'none'">
                                                    <i aria-hidden="true" class="fa fa-remove fa-2x" style="color:red"
                                                        title="Delete"></i>
                                                </label> -->
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-5">
                                                <input type="hidden" formControlName="ecomDetailIdTwo">
                                                <select name="phoneTypeTwo" id="phoneTypeTwo" class="form-control"
                                                    formControlName="phoneTypeTwo"
                                                    [ngClass]="{'is-invalid': submitted && f.get('phones.phoneTypeTwo').errors}"
                                                    (change)="onPhoneTypeChange($event,2)">
                                                    <option value="" selected></option>
                                                    <ng-container *ngFor="let item of phoneTypes">
                                                        <option [value]="item.eCommunicationId">
                                                            {{item.description}}
                                                        </option>
                                                    </ng-container>
                                                </select>
                                                <p *ngIf="submitted && f.get('phones.phoneTypeTwo').errors"
                                                    class="invalid-feedback">
                                                    Phone type is required.
                                                </p>
                                            </div>
                                            <div class="col-6 pl-0">
                                                <input type="text" maxlength="14" class="form-control"
                                                    formControlName="phoneNumberTwo" id="phoneNumberTwo" UsPhoneFormat
                                                    [ngClass]="{'is-invalid': submitted && f.get('phones.phoneNumberTwo').errors}">
                                                <p *ngIf="submitted && f.get('phones.phoneNumberTwo').errors"
                                                    class="invalid-feedback">
                                                    <span *ngIf="f.get('phones.phoneNumberTwo').errors.required">
                                                        Phone Number is required.
                                                    </span>
                                                    <span *ngIf="f.get('phones.phoneNumberTwo').errors.pattern">
                                                        Invalid phone format.(Ex: (987) 456-1230)
                                                    </span>
                                                </p>
                                            </div>
                                            <!-- <div class="col-sm-4 row">
                                                <label class="col-sm-4 form-label">Ext:</label>
                                                <input type="text" class="col-sm-6 form-control"
                                                    formControlName="extensionTwo" maxlength="6">
                                            </div> -->
                                            <div class="col-1 p-0">
                                                <input type="checkbox" class="align-middle" name="deletePhoneTwo"
                                                    id="deletePhoneTwo" formControlName="deletePhoneTwo"
                                                    [style.display]="'none'">
                                                <span (click)="deletePhone('Two');" id="deleteIconTwo"><i
                                                        aria-hidden="true" class="fas fa-times text-danger fa-2x"
                                                        title="Delete"></i></span>
                                                <span (click)="undoDeletePhone('Two');" id="undoDeleteIconTwo"
                                                    [style.display]="'none'"><i aria-hidden="true"
                                                        class="fas fa-undo text-secondary fa-2x"
                                                        title="Undo Delete"></i></span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-5">
                                                <input type="hidden" formControlName="ecomDetailIdThree">
                                                <select name="phoneTypeThree" id="phoneTypeThree" class="form-control"
                                                    formControlName="phoneTypeThree"
                                                    [ngClass]="{'is-invalid': submitted && f.get('phones.phoneTypeThree').errors}"
                                                    (change)="onPhoneTypeChange($event,3)">
                                                    <option value="" selected></option>
                                                    <ng-container *ngFor="let item of phoneTypes">
                                                        <option [value]="item.eCommunicationId">
                                                            {{item.description}}
                                                        </option>
                                                    </ng-container>
                                                </select>
                                                <p *ngIf="submitted && f.get('phones.phoneTypeThree').errors"
                                                    class="invalid-feedback">
                                                    Phone type is required.
                                                </p>
                                            </div>
                                            <div class="col-6 pl-0">
                                                <input type="text" maxlength="14" class="form-control"
                                                    formControlName="phoneNumberThree" id="phoneNumberThree" UsPhoneFormat
                                                    [ngClass]="{'is-invalid': submitted && f.get('phones.phoneNumberThree').errors}">
                                                <p *ngIf="submitted && f.get('phones.phoneNumberThree').errors"
                                                    class="invalid-feedback">
                                                    <span *ngIf="f.get('phones.phoneNumberThree').errors.required">
                                                        Phone Number is required.
                                                    </span>
                                                    <span *ngIf="f.get('phones.phoneNumberThree').errors.pattern">
                                                        Invalid phone format.(Ex: (987) 456-1230)
                                                    </span>
                                                </p>
                                            </div>
                                            <!-- <div class="col-sm-4 row">
                                                <label class="col-sm-4 form-label">Ext:</label>
                                                <input type="text" class="col-sm-6 form-control"
                                                    formControlName="extensionThree" maxlength="6">
                                            </div> -->
                                            <div class="col-1 p-0">
                                                <input type="checkbox" class="align-middle" name="deletePhoneThree"
                                                    id="deletePhoneThree" formControlName="deletePhoneThree"
                                                    [style.display]="'none'">
                                                <span (click)="deletePhone('Three');" id="deleteIconThree"><i
                                                        aria-hidden="true" class="fas fa-times text-danger fa-2x"
                                                        title="Delete"></i></span>
                                                <span (click)="undoDeletePhone('Three');" id="undoDeleteIconThree"
                                                    [style.display]="'none'"><i aria-hidden="true"
                                                        class="fas fa-undo text-secondary fa-2x"
                                                        title="Undo Delete"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-right" *ngIf="editPhone">
                                        <button class="btn btn-outline-primary mr-2" type="reset"
                                            (click)="resetPhoneControls();submitted=false;">Cancel</button>
                                        <button class="btn btn-rounded btn-primary" type="submit"
                                            (click)="validatePhones()" *ngIf="allowPhoneUpdate">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ng-template #confirmAddress let-modal>
                <div class="modal-header">
                    <h4 class="modal-title">Confirm</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <div *ngIf="allowAddressUpdate;else updateAccount">
                            <p><strong>This address exists on more than one account for this member. <br /> Do you want
                                    to
                                    update
                                    the
                                    address on
                                    all of these accounts or only the selected account?</strong></p>
                        </div>
                        <ng-template #updateAccount>
                            <p><strong>This contact information exists on more than one account for this member. <br />
                                    Do you
                                    want
                                    to
                                    update
                                    the
                                    contact information on all of these accounts or only the selected account?</strong>
                            </p>
                        </ng-template>
                        <br />
                        <div class="row">
                            <label for="updateAllAccounts" class="col-5 radio-inline">
                                <strong>Update All</strong>
                            </label>
                            <input type="radio" formControlName="updateIndicator" class="col-1" id="updateAllAccounts"
                                value="ALL" name="updateIndicator">
                        </div>
                        <div class="row">
                            <label for="updateSingleAccount" class="col-5 radio-inline">
                                <strong>Update This Account</strong>
                            </label>
                            <input type="radio" formControlName="updateIndicator" class="col-1" id="updateSingleAccount"
                                value="ONE" name="updateIndicator">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" ngbAutofocus class="btn" (click)="modal.close();submit()">Ok</button>
                </div>
            </ng-template>
        </form>
    </div>
</div>