<div class="container">
    <div class="col">
        <h2>Account Management</h2>
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <div class="featured-boxes featured-boxes-style-3 featured-boxes-flat">
                    <div class="featured-box featured-box-primary">
                        <div class="box-content">
                            <em class="icon-featured fas fa-user"></em>
                            <app-account-profile></app-account-profile>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>