<section class="services-area ptb-100 bg-gray">
    <div class="container">
        <div class="row mt-1 pt-1">
            <div class="col-md-12 col-lg-12 mt-2 pt-2">                
                <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="2%">
                    <div fxLayout fxLayoutAlign="center center" class="filter-header">
                        {{action}} Location
                    </div>
                </div>
                <app-alert></app-alert>
                <form [formGroup]="locationAddEditForm" autocomplete="off" (ngSubmit)="onSubmit()">
                    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.8%">                        
                            <mat-form-field appearance="fill" fxFlex="38%">
                                <mat-label>Location Name</mat-label>
                                <input matInput formControlName="locationName" />
                                <button mat-button *ngIf="locationAddEditForm.controls['locationName'].value" matSuffix mat-icon-button aria-label="Clear" (click)="reset('locationName')">
                                    <mat-icon>close</mat-icon>
                                </button>                                
                            </mat-form-field>
                        
                            <mat-form-field appearance="fill" fxFlex="30%">
                                <mat-label>Address</mat-label>
                                <input matInput formControlName="address" />
                                <button mat-button *ngIf="locationAddEditForm.controls['address'].value" matSuffix mat-icon-button aria-label="Clear" (click)="reset('address')">
                                    <mat-icon>close</mat-icon>
                                </button>
                                <mat-error *ngIf="hasError('address')">{{getErrorMessage('address')}}</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="fill" fxFlex="30%">
                                <mat-label>Address2</mat-label>
                                <input matInput formControlName="address2" />
                                <button mat-button *ngIf="locationAddEditForm.controls['address2'].value" matSuffix mat-icon-button aria-label="Clear" (click)="reset('address2')">
                                    <mat-icon>close</mat-icon>
                                </button>
                                <mat-error *ngIf="hasError('address2')">{{getErrorMessage('address2')}}</mat-error>
                            </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.8%">                        
                        <mat-form-field appearance="fill" fxFlex="38%">
                            <mat-label>City</mat-label>
                            <input matInput formControlName="city" />
                            <button mat-button *ngIf="locationAddEditForm.controls['city'].value" matSuffix mat-icon-button aria-label="Clear" (click)="reset('city')">
                                <mat-icon>close</mat-icon>
                            </button>
                            <mat-error *ngIf="hasError('city')">{{getErrorMessage('city')}}</mat-error>                          
                        </mat-form-field>
                    
                        <mat-form-field appearance="fill" fxFlex="30%">
                            <mat-label>State</mat-label>
                            <mat-select formControlName="state">
                                <mat-option *ngFor="let state of states" [value]="state.id">{{state.value}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="hasError('state')">{{getErrorMessage('state')}}</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="fill" fxFlex="30%">
                            <mat-label>Zip Code</mat-label>
                            <input matInput formControlName="zip" />
                            <button mat-button *ngIf="locationAddEditForm.controls['zip'].value" matSuffix mat-icon-button aria-label="Clear" (click)="reset('zip')">
                                <mat-icon>close</mat-icon>
                            </button>
                            <mat-error *ngIf="hasError('zip')">{{getErrorMessage('zip')}}</mat-error>
                        </mat-form-field>
                    </div>
                    
                    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.8%">
                        <button mat-raised-button color="primary">
                            Save Location
                        </button>
                        <a mat-raised-button (click)="navigateToClientView(clientId);" class="btn btn-link">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
