.mat-table {
    overflow-x: scroll;
}
div.filter-header {
    font-size: 23px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.container i {
    font-size: 18px;
    display: inline-block;
    line-height: 1;
    margin-right: 10px;
}
th.mat-header-cell {
    font-weight: 600 !important;
    font-size: 1em;
    text-align: left !important;
    max-width: 300px;
}
td.mat-cell:first-child {
    padding: 0px 8px 0px 0px;
}
td.mat-cell:not(:first-child) {
    padding: 8px 8px 8px 0;
}
tr.mat-row:nth-child(2n+1) {
    background-color: #f5f5f5;
}
tr.mat-row:not(:nth-child(2n+1)) {
    background-color: #fff;       
}
@media (max-width: 568px) {
    div.filter-header {
        font-size: 20px;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
    .container i {
        font-size: 12px;
        display: inline-block;
        line-height: 1;
        margin-right: 6px;
    }
    th.mat-header-cell {
        font-weight: 600 !important;
        font-size: 0.9em;
        text-align: left !important;
        max-width: 300px;
    }
    td.mat-cell:first-child {
        padding: 0px 6px 0px 0px;
    }
    td.mat-cell:not(:first-child) {
        padding: 6px 6px 6px 0;
    }
}