<section class="services-area ptb-100 bg-gray">
    <div class="container">
        <div class="hourslist row mt-1 pt-1">
            <div class="col-md-12 col-lg-12 mt-2 pt-2">
                <app-alert></app-alert>
                <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="2%">
                    <div fxLayout fxLayoutAlign="center center" class="filter-header">
                        Employee Hours {{subTitle}}
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div fxLayout="row" fxLayoutAlign="start" class="mt-2 pt-2">
                    <mat-form-field fxFlex="40%">
                      <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Search">
                    </mat-form-field>
                </div>
                <form [formGroup]="employeeHoursForm" autocomplete="off" novalidate (ngSubmit)="addEditEmployeeHours();">
                    <div class="report-container mat-elevation-z8 pb-2 mb-2">                        
                        <table mat-table [dataSource]="dataSource" matSort formArrayName="employeeHours">
                            <ng-container matColumnDef="firstName" sticky>
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee</th>
                                <td mat-cell *matCellDef="let report">{{report.firstName + ' ' + report.lastName}}</td>
                            </ng-container>
                            <ng-container matColumnDef="hours">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Hours</th>
                                <td mat-cell *matCellDef="let report; let rowIndex = index" [formGroupName]="rowIndex">
                                    <mat-form-field floatLabel="never" *ngIf="report.salaryType=='Hourly'">
                                        <input arrow-div matInput onfocus="this.select()" [value]="report.hours | number:'1.2-2'" formControlName="hours">
                                    </mat-form-field>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="otHours">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>OT Hours</th>
                                <td mat-cell *matCellDef="let report let rowIndex = index" [formGroupName]="rowIndex">
                                    <mat-form-field floatLabel="never" *ngIf="report.salaryType=='Hourly'">
                                        <input arrow-div matInput onfocus="this.select()" [value]="report.otHours | number:'1.2-2'" formControlName="otHours">
                                    </mat-form-field>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="dtHours">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>DT Hours</th>
                                <td mat-cell *matCellDef="let report let rowIndex = index" [formGroupName]="rowIndex">
                                    <mat-form-field floatLabel="never" *ngIf="report.salaryType=='Hourly'">
                                        <input arrow-div matInput onfocus="this.select()" [value]="report.dtHours | number:'1.2-2'" formControlName="dtHours">
                                    </mat-form-field>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="payRate">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Pay Rate</th>
                                <td mat-cell *matCellDef="let report let rowIndex = index" [formGroupName]="rowIndex">
                                    <mat-form-field floatLabel="never">
                                        <input arrow-div matInput onfocus="this.select()" [value]="report.payRate | number:'1.2-2'" formControlName="payRate">
                                    </mat-form-field>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="otRate">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>OT Rate</th>
                                <td mat-cell *matCellDef="let report let rowIndex = index" [formGroupName]="rowIndex">
                                    <mat-form-field floatLabel="never" *ngIf="report.salaryType=='Hourly'">
                                        <input arrow-div matInput onfocus="this.select()" [value]="report.otRate | number:'1.2-2'" formControlName="otRate">
                                    </mat-form-field>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="dtRate">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>DT Rate</th>
                                <td mat-cell *matCellDef="let report let rowIndex = index" [formGroupName]="rowIndex">
                                    <mat-form-field floatLabel="never" *ngIf="report.salaryType=='Hourly'">
                                        <input arrow-div matInput onfocus="this.select()" [value]="report.dtRate | number:'1.2-2'" formControlName="dtRate">
                                    </mat-form-field>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="expenses">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Expenses</th>
                                <td mat-cell *matCellDef="let report let rowIndex = index" [formGroupName]="rowIndex">
                                    <mat-form-field floatLabel="never">
                                        <input arrow-div matInput onfocus="this.select()" [value]="report.expenses | number:'1.2-2'" formControlName="expenses">
                                    </mat-form-field>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="advances">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Advances</th>
                                <td mat-cell *matCellDef="let report let rowIndex = index" [formGroupName]="rowIndex">
                                    <mat-form-field floatLabel="never">
                                        <input arrow-div matInput onfocus="this.select()" [value]="report.advances | number:'1.2-2'" formControlName="advances">
                                    </mat-form-field>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="commissions">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Commissions</th>
                                <td mat-cell *matCellDef="let report let rowIndex = index" [formGroupName]="rowIndex">
                                    <mat-form-field floatLabel="never" class="commissions-input">
                                        <input arrow-div matInput onfocus="this.select()" [value]="report.commissions | number:'1.2-2'" formControlName="commissions">
                                    </mat-form-field>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="notes">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Notes</th>
                                <td mat-cell *matCellDef="let report let rowIndex = index" [formGroupName]="rowIndex">
                                    <mat-form-field floatLabel="never" class="notes-input">
                                        <input arrow-div matInput onfocus="this.select()" [value]="report.notes" formControlName="notes">
                                    </mat-form-field>
                                </td>
                            </ng-container>  
                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>  
                        </table>
                    </div>
                    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.8%">
                        <button mat-raised-button color="primary">
                            <mat-icon>av_timer</mat-icon> Save My Time
                        </button>
                        <a mat-raised-button (click)="back()" class="btn btn-link">
                            <mat-icon>arrow_back</mat-icon> Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
