<section class="services-area ptb-100 bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 mt-1 pt-1">
                <a href="#" [routerLink]="['pay-period-dashboard']" [queryParams]="{payfrequency: 'Bi-Weekly'}">
                    <div class="single-services">
                        <div class="row">
                            <div class="icon mr-2 pr-2 mb-2 pb-2">
                                <i class="material-icons">event_note</i>
                            </div>
                            <div><h3>Bi-Weekly Pay Periods</h3></div>
                        </div>
                        <div class="row">
                            <p>Click here to access bi-weekly pay periods.</p>
                            <i class="icofont-bubble-right"></i>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-6 col-md-6 mt-1 pt-1">
                <a href="#" [routerLink]="['pay-period-dashboard']" [queryParams]="{payfrequency: 'Weekly'}">
                    <div class="single-services">
                        <div class="row">
                            <div class="icon mr-2 pr-2 mb-2 pb-2">
                                <i class="fa fa-calendar-week"></i>
                            </div>
                            <div><h3>Weekly Pay Periods</h3></div>
                        </div>
                        <div class="row">
                            <p>Click here to access weekly pay periods.</p>
                            <i class="icofont-bubble-right"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<router-outlet></router-outlet>
