<div class="row">
    <div class="col-md-12 col-lg-12">
        <img class="img-responsive" src="./assets/img/hero_image.jpg" height="300px" width="100%" alt="">
    </div>
</div>
<section class="services-area ptb-100 bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <a href="#" routerLink="/view-all-reports">
                    <div class="single-services">
                        <div class="row">
                            <div class="icon mr-2 pr-2 mb-1 pb-1">
                                <i class="icofont-chart-arrows-axis"></i>
                            </div>
                            <div><h3>Reports</h3></div>
                        </div>
                        <div class="row">
                            <p>Reports are a great way for sales to keep track of their team, assess recruiting needs, and ensure that goals are being met.</p>
                            <i class="icofont-bubble-right"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6">
                <a href="#" routerLink="/view-pay-periods">
                <div class="single-services">
                    <div class="row">
                        <div class="icon mr-2 pr-2 mb-1 pb-1">
                            <i class="icofont-tasks-alt"></i>
                        </div>
                        <div><h3>Pay Periods</h3></div>
                    </div>
                    <div class="row">
                        <p>HR & payroll, workforce management and engagement management functions.</p>
                        <i class="icofont-bubble-right"></i>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6">
                <a href="#" routerLink="/assignment-list">
                <div class="single-services">
                    <div class="row">
                        <div class="icon mr-2 pr-2 mb-1 pb-1">
                            <i class="icofont-list"></i>
                        </div>
                        <div><h3>Assignments</h3></div>
                    </div>
                    <div class="row">
                        <p>Need to view active and future assignments information.</p>
                        <i class="icofont-bubble-right"></i>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6">
                <a href="#" routerLink="/contractor-list">
                    <div class="single-services">
                        <div class="row">
                            <div class="icon mr-2 pr-2 mb-1 pb-1">
                                <i class="icofont-users"></i>
                            </div>
                            <div><h3>Contractors</h3></div>
                        </div>
                        <div class="row">
                            <p>Create Contractor Profiles. Never miss a candidate.</p>
                            <i class="icofont-bubble-right"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="feature-area ptb-100 bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <a href="#" routerLink="/home">
                    <div class="featureTable">
                        <div class="feature-icon">
                            <i class="icofont-globe"></i>
                        </div>
                        <div class="featureHeader">
                            <div class="title">Timesheet Operation</div>
                        </div>
                        <div class="feature-content mx-3 px-3 mb-1 pb-1">
                            <p>With Operation Timesheets, you can track time & manage expenses effortlessly from one integrated platform. Pearl's friendly interface
                                and native mobile responsive UI boost your efficiency and eliminate the hassle of dealing with clunky spreadsheets and paper receipts.
                            </p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6">
                <a href="#" routerLink="/provideremployees">
                    <div class="featureTable">
                        <div class="feature-icon">
                            <i class="icofont-globe"></i>
                        </div>
                        <div class="featureHeader">
                            <div class="title">Provider Employees</div>
                        </div>
                        <div class="feature-content mx-3 px-3">
                            <p>Offer access to a variety of services, including home health service, out patient therapy, long-term to employees of an organization.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                <a href="#" routerLink="/archiveddata">
                    <div class="featureTable">
                        <div class="feature-icon">
                            <i class="icofont-globe"></i>
                        </div>
                        <div class="featureHeader">
                            <h3 class="title">Archived Data</h3>
                        </div>
                        <div class="feature-content mx-3 px-3">
                            <p>Click here to view archived data. A data archive is a place to store data that is important but that doesn’t need to be accessed or modified frequently (if at all).</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>