<section class="services-area ptb-100 bg-gray">
    <div class="container">
        <div class="row mt-2 pt-2">
            <div class="col-lg-12 col-md-12">
                <app-alert></app-alert>
                <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap>
                    <div fxLayout fxLayoutAlign="center center" class="filter-header">
                    Weekly Pay Periods<div class="back">                    
                        <div class="icon mr-2 pr-2" (click)="back()">
                            <i class="fas fa-arrow-left" title="Back"></i>
                        </div>
                        </div>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap>
                    <p>{{weeklyPayPeriodSubTitle}}</p>
                </div>
                <form [formGroup]="payPeriodsForm" autocomplete="off" novalidate>
                    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="2%">
                        <mat-form-field appearance="fill">
                            <mat-label>Select A Month</mat-label>
                            <mat-select formControlName="payPeriodMonth" (selectionChange)="changeMonth($event)" [compareWith]="compareWeekEndings">
                                <mat-option *ngFor="let month of months" [value]="month">{{month}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </form>
                <div *ngIf="payPeriods?.length>0">
                    <ul>  
                        <li *ngFor="let period of payPeriods | slice:0:limit; let i=index">
                            <a href="#" [routerLink]="['weekly-pay-period-dashboard']"
                            [queryParams]="{weekending: period.weekEnding1, payperiodid: period.payPeriodId, paydate: period.payDate, paytype: 'Weekly', pagetype: pageType}" 
                            class="card"><i class="icofont-ui-calendar"></i> {{ period.weekEnding1 | date: 'MM/dd/yyyy' }}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <a class="btn btn-link more" *ngIf="limit < payPeriods.length" (click)="showMore()"><mat-icon>expand_more</mat-icon> Show More</a>
                <a class="btn btn-link less" *ngIf="limit > 10" (click)="showLess()"><mat-icon>expand_less</mat-icon> Show Less</a>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</section>
