.container.view-contractor > div h5 {
    text-align: left;
    font-size: 16px;
    padding-left: 6px;
    background-color: rgb(235, 235, 235);
    line-height: 28px;
    text-transform: none;
}
.container.view-contractor input:read-only {
    color: black;
}
.btn.btn-link:hover {
    text-decoration: underline !important;
}
.btn.btn-link {
    text-transform: none;
}
.mat-raised-button {
    min-width: 150px;
}
.datepickerOne {
    margin-top: 105px !important;
}
@media (max-width: 768px) {
    input, select, label {
        font-size: 12px !important;
    }
    .datepickerOne {
        margin-top: 0px !important;
    }
}
