<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12">
            <div class="featured-boxes featured-boxes-style-8">
                <div class="featured-box featured-box-primary text-left">
                    <div class="box-content">
                        <app-alert></app-alert>
                        <ngb-tabset #tabset>
                            <ngb-tab id="tab-login" title="Login Info">
                                <ng-template ngbTabContent>
                                    <form [formGroup]='loginForm'>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-md-12 col-lg-5" for="email">Email</label>
                                            <div class="col-sm-6 col-md-12 col-lg-4">
                                                <input formControlName="email" type="text" id="email"
                                                    class="form-control" maxlength="60"
                                                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                                    <div *ngIf="f.email.errors.required">Please enter email.</div>
                                                    <div *ngIf="f.email.errors.email">Please enter a valid email
                                                        address.</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-4 col-md-12 col-lg-3">
                                                <select id="secQuestion" class="form-control"
                                                    formControlName="secQuestion"
                                                    [ngClass]="{'is-invalid': submitted && f.secQuestion.errors }">
                                                    <option value="" selected>Select an option</option>
                                                    <ng-container *ngFor="let item of secQuestions">
                                                        <option [value]="item.id">
                                                            {{item.description}}
                                                        </option>
                                                    </ng-container>
                                                </select>
                                                <p *ngIf="submitted && f.secQuestion.errors" class="invalid-feedback">
                                                    Please select an option.
                                                </p>
                                            </div>
                                            <div class="col-lg-2"></div>
                                            <div class="col-sm-6 col-md-12 col-lg-4">
                                                <input #secAnswer [type]="showSecAnswer ? 'text' : 'password'"
                                                    class="form-control" formControlName="secAnswer" id="secAnswer"
                                                    maxlength="100"
                                                    [ngClass]="{'is-invalid': submitted && f.secAnswer.errors }" />
                                                <span toggle="#secAnswer" class="fa fa-fw fa-eye field-icon"
                                                    *ngIf="secAnswer.value.length > 0"
                                                    [ngClass]="{'fa-eye': !showSecAnswer ,'fa-eye-slash':showSecAnswer}"
                                                    (click)="showSecAnswer = !showSecAnswer"></span>
                                                <p *ngIf="submitted && f.secAnswer.errors" class="invalid-feedback">
                                                    Please enter security answer.
                                                </p>

                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="password" class="col-sm-4 col-md-12 col-lg-5">New password
                                                (leave blank to leave unchanged)</label>
                                            <div class="col-sm-6 col-md-12 col-lg-4">
                                                <input #password [type]="showPassword ? 'text' : 'password'"
                                                    id="password" formControlName="password" maxlength="50"
                                                    class="form-control" onpaste="return false" (input)="onPasswordChange()"
                                                    [ngClass]="{'is-invalid': submitted && f.password.errors }">
                                                <span toggle="#password" class="fa fa-fw fa-eye field-icon"
                                                    *ngIf="password.value.length > 0"
                                                    [ngClass]="{'fa-eye': !showPassword ,'fa-eye-slash':showPassword}"
                                                    (click)="showPassword = !showPassword"></span>
                                                <app-password-strength [password]="loginForm.value.password">
                                                </app-password-strength>
                                                <p *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                                    <span *ngIf="f.password.errors.required">
                                                        Please enter a password.
                                                    </span>
                                                    <span *ngIf="f.password.errors.pattern">
                                                        Password entry does not meet criteria.
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group row ">
                                            <label for="cnfpassword" class="col-sm-4 col-md-12 col-lg-5 ">Confirm new
                                                password</label>
                                            <div class="col-sm-6 col-md-12 col-lg-4">
                                                <input #cnfpassword [type]="showConfirmPassword ? 'text' : 'password'"
                                                    formControlName="cnfpassword" (input)="onPasswordChange()"
                                                    class="form-control" id="cnfpassword" maxlength="50"
                                                    onpaste="return false" 
                                                    [ngClass]="{'is-invalid': submitted && f.cnfpassword.errors }">
                                                <span toggle="#cnfpassword" class="fa fa-fw fa-eye field-icon"
                                                    *ngIf="cnfpassword.value.length > 0"
                                                    [ngClass]="{'fa-eye': !showConfirmPassword ,'fa-eye-slash':showConfirmPassword}"
                                                    (click)="showConfirmPassword = !showConfirmPassword"></span>
                                                <p *ngIf="submitted && f.cnfpassword.errors" class="invalid-feedback">
                                                    <span *ngIf="f.cnfpassword.errors.required">
                                                        Please enter a confirm password.
                                                    </span>
                                                    <span
                                                        *ngIf="f.cnfpassword.errors.notEqual && !f.cnfpassword.errors.required">
                                                        Password and Confirm Password does not match.
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group row" *ngIf="showPaymentConfirmationEmail">
                                            <label class="col-sm-4 col-md-6 col-lg-5"
                                                for="paymentConfirmationEmail">Receive Payment
                                                Confirmation Email</label>
                                            <div class="col-sm-6 col-md-6 col-lg-4 text-left">
                                                <label class="switch text-center">
                                                    <input type="checkbox" id="paymentConfirmationEmail"
                                                        formControlName="paymentConfirmationEmail">
                                                    <span class="slider round"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group row" *ngIf="showServiceRequestConfirmationEmail">
                                            <label class="col-sm-4 col-md-6 col-lg-5"
                                                for="serviceRequestConfirmationEmail">Receive Service Request
                                                Confirmation Email</label>
                                            <div class="col-sm-6 col-md-6 col-lg-4 text-left">
                                                <label class="switch text-center">
                                                    <input type="checkbox" id="serviceRequestConfirmationEmail"
                                                        formControlName="serviceRequestConfirmationEmail">
                                                    <span class="slider round"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group row" *ngIf="showUnlistedPhone">
                                            <label class="col-sm-4 col-md-6 col-lg-5" for="unlistedPhone">Unlisted Phone
                                                Number</label>
                                            <div class="col-sm-6 col-md-6 col-lg-4 text-left">
                                                <label class="switch text-center">
                                                    <input type="checkbox" id="unlistedPhone"
                                                        formControlName="unlistedPhone">
                                                    <span class="slider round"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </form>
                                </ng-template>
                            </ngb-tab>
                            <ngb-tab id="tab-paperless" title="Paperless Options">
                                <ng-template ngbTabContent>
                                    <form [formGroup]="paperlessForm">
                                        <div *ngIf="paperlessMemberLevel; else paperlessAccountLevel">
                                            <div class="form-group row col" *ngIf="paperlessMemberLevel">
                                                <label class="col-sm-5 col-md-6 col-lg-5"
                                                    for="paperlessBilling">Paperless
                                                    Billing</label>
                                                <div class="col-sm-6 col-md-6 col-lg-6 text-left">
                                                    <label class="switch text-center">
                                                        <input type="checkbox" name="paperlessBilling"
                                                            id="paperlessBilling"
                                                            formControlName="hasOptedForPaperlessBilling">
                                                        <span class="slider round"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group row col" *ngIf="showPaperlessOther">
                                                <label class="col-sm-5 col-md-6 col-lg-5" for="paperlessOther">Paperless
                                                    Other Communications</label>
                                                <div class="col-sm-6 col-md-6 col-lg-6 text-left">
                                                    <label class="switch text-center">
                                                        <input type="checkbox" name="paperlessOther" id="paperlessOther"
                                                            formControlName="hasOptedForPaperlessOther">
                                                        <span class="slider round"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <ng-template #paperlessAccountLevel>
                                            <div class="col-sm-10 table-responsive-sm w-100"
                                                *ngIf="accounts.length > 0;else noPaperlessAccounts">
                                                <table class="table table-bordered table-hover mx-100">
                                                    <thead>
                                                        <tr [ngStyle]="{'background-color': 'aliceblue'}">
                                                            <th>Account</th>
                                                            <th>Address</th>
                                                            <th><input type="checkbox" class="align-middle" name="email"
                                                                    [checked]="allEmailChecked"
                                                                    (change)="checkAllPaperlessAccounts($event)"> Email
                                                            </th>
                                                            <th><input type="checkbox" class="align-middle"
                                                                    name="paperlessBill"
                                                                    [checked]="allPaperlessBillChecked"
                                                                    (change)="checkAllPaperlessAccounts($event)">
                                                                Paperless Bill</th>
                                                            <th><input type="checkbox" class="align-middle"
                                                                    name="paperlessOther"
                                                                    [checked]="allPaperlessOtherChecked"
                                                                    (change)="checkAllPaperlessAccounts($event)">
                                                                Paperless/Other</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody formArrayName="paperlessAccounts">
                                                        <tr *ngFor="let account of accounts;let i= index"
                                                            [formGroupName]="i">
                                                            <th scope="row"><input type="hidden"
                                                                    formControlName="accountNumber">{{account.accountNumber}}
                                                            </th>
                                                            <td>{{account.address}}</td>
                                                            <td class="text-center">
                                                                <input type="checkbox" name="email"
                                                                    formControlName="email"
                                                                    (change)="checkPaperlessAccount($event.target.checked,i,$event.target.name)">
                                                            </td>
                                                            <td class="text-center">
                                                                <input type="checkbox" name="paperlessBill"
                                                                    formControlName="paperlessBill"
                                                                    (change)="checkPaperlessAccount($event.target.checked,i,$event.target.name)">
                                                            </td>
                                                            <td class="text-center">
                                                                <input type="checkbox" name="paperlessOther"
                                                                    formControlName="paperlessOther"
                                                                    (change)="checkPaperlessAccount($event.target.checked,i,$event.target.name)">
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <ng-template #noPaperlessAccounts>
                                                <div class="form-group row col">
                                                    <p>There are no eligible accounts for managing Paperless Options.
                                                    </p>
                                                </div>
                                            </ng-template>

                                        </ng-template>

                                        <div class="form-group row col" *ngIf="showAnnualMeetingNotice">
                                            <label class="col-sm-5 col-md-6 col-lg-5 "
                                                for="allowAnnualMeetingNotice">{{annualMeetingNoticeLabel}}</label>
                                            <div class="col-sm-6 col-md-6 col-lg-6 text-left">
                                                <label class="switch text-center">
                                                    <input type="checkbox" name="allowAnnualMeetingNotice"
                                                        id="allowAnnualMeetingNotice"
                                                        formControlName="allowAnnualMeetingNotice">
                                                    <span class="slider round"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group row col" *ngIf="showMarketingEmail">
                                            <label class="col-sm-5 col-md-6 col-lg-5 "
                                                for="allowmarketingEmails">{{marketingEmailLabel}}</label>
                                            <div class="col-sm-6 col-md-6 col-lg-6 text-left">
                                                <label class="switch text-center">
                                                    <input type="checkbox" name="allowmarketingEmails"
                                                        id="allowmarketingEmails"
                                                        formControlName="allowMarketingEmails">
                                                    <span class="slider round"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group row col ml-1">
                                            <label class="checkbox-inline" for="paperlessConfirmText">
                                                <input type="checkbox" class="form-check-input-check mr-1 align-middle"
                                                    id="paperlessConfirmText"
                                                    formControlName="paperlessConfirmText">{{paperlessConfirmText}}
                                            </label>
                                            <p *ngIf="submitted && p.paperlessConfirmText.errors"
                                                class="invalid-feedback d-flex">
                                                <span>Please check the paperless confirmation checkbox.</span>
                                            </p>
                                        </div>
                                    </form>
                                </ng-template>
                            </ngb-tab>
                            <ngb-tab id="tab-opertaion-roundup" title="Operation RoundUp" *ngIf="showOperationRoundUp">
                                <ng-template ngbTabContent>
                                    <form [formGroup]="operationRoundupForm"
                                        *ngIf="(hasAccessToOperationRoundUp || hasAccessToOperationRoundUpPlus) && accounts.length>0;else noOpRoundupAccounts">
                                        <div class="col-sm-10 table-responsive-sm w-100">
                                            <table class="table table-bordered table-hover mx-100">
                                                <thead>
                                                    <tr [ngStyle]="{'background-color': 'aliceblue'}">
                                                        <th>Account</th>
                                                        <th>Address</th>
                                                        <th *ngIf="hasAccessToOperationRoundUp">
                                                            <input type="checkbox" class="align-middle"
                                                                name="operationUp" [checked]="allOpRoundupChecked"
                                                                (change)="checkAllOpRoundupAccounts($event)">
                                                            Operation RoundUp</th>
                                                        <th *ngIf="hasAccessToOperationRoundUpPlus">Operation Roundup
                                                            Plus Amount</th>
                                                        <th *ngIf="hasAccessToOperationRoundUpPlus">Operation Roundup
                                                            Plus Expiration Date</th>
                                                    </tr>
                                                </thead>
                                                <tbody formArrayName="opRoundUpAccounts">
                                                    <tr *ngFor="let account of accounts;let i= index"
                                                        [formGroupName]="i">
                                                        <th scope="row"><input type="hidden"
                                                                formControlName="accountNumber">{{account.accountNumber}}
                                                        </th>
                                                        <td>{{account.address}}</td>
                                                        <td class="text-center" *ngIf="hasAccessToOperationRoundUp">
                                                            <input type="checkbox" formControlName="optedForOp">
                                                        </td>
                                                        <td class="text-center" *ngIf="hasAccessToOperationRoundUpPlus">
                                                            <input type="text" class="form-control"
                                                                formControlName="opPlusAmount"
                                                                (keypress)="numberOnly($event)"
                                                                (blur)="formatToAmount($event)" 
                                                                [ngClass]="{'is-invalid': (opFormArrayGroups[i].controls.opPlusAmount.touched &&
                                                                !opFormArrayGroups[i].controls.opPlusAmount.valid)  }">
                                                        </td>
                                                        <td class="text-center" *ngIf="hasAccessToOperationRoundUpPlus">
                                                            <input type="date" class="form-control"
                                                                formControlName="opPlusExpirationDate" [min]="getTomorrow()">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </form>
                                    <ng-template #noOpRoundupAccounts>
                                        <div class="form-group row col">
                                            <p>There are no eligible accounts for managing Operation Roundup.</p>
                                        </div>
                                    </ng-template>
                                </ng-template>
                            </ngb-tab>
                        </ngb-tabset>
                        <div class="row col">
                            <button type="submit" class="btn btn-primary" (click)="submit()">Submit All</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>